
header {
	background-color: white;
	text-align: left;
	font-size: xx-large;
	padding-left: 0.5em;
}

main, footer {
	padding:20px;
	background-color: #6F6F6F;
	font-family: Verdana, Geneva, Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 500; 
  color: #FFFFFF;
}

a:hover {
  text-decoration:  underline;
  color: #FFFFFF;
}
